@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1, h2, h3, h4, h5, h6, p, td, th, li {
        @apply text-neutral-200;
    }

    .markedView p {
        @apply mb-4;
    }

    .markedView a {
        @apply darkest_bg hover:underline
        pr-1 text-neutral-100 rounded-md;
    }

    .markedView a:hover {
        box-shadow: 0 0 0 2px rgb(99 102 241);
        @apply bg-indigo-900 text-white;
    }

    .markedView a::before {
        content: "»";
        box-shadow: 0 0 0 2px rgb(24 24 27);
        @apply bg-indigo-600 mr-1 no-underline px-1 font-bold rounded text-neutral-200 text-sm;
    }

    .markedView img {
        max-width: clamp(200px, 100%, 36rem);
    }

    .markedView ul {
        @apply list-disc list-inside mb-2;
    }

    .markedView ol {
        @apply list-decimal list-inside mb-2;
    }

    .markedView ul, ol, table {
        @apply mb-4
    }

    .markedView pre {
        @apply mb-2;
    }

    .markedView table {
        @apply mb-4;
    }

    .markedView th {
        @apply p-2 text-neutral-200 font-bold border border-b-2 border-zinc-500 darkest_bg;
    }

    .markedView td {
        @apply p-2 border border-zinc-500 dark_bg;
    }

    .markedView h1 {
        @apply text-3xl mb-6 mt-10 font-bold text-neutral-200;
    }

    .markedView h2 {
        @apply text-2xl mb-6 mt-8 font-bold text-neutral-200;
    }

    .markedView h3 {
        @apply text-xl mb-4 mt-8 font-bold text-neutral-200;
    }

    .markedView h4 {
        @apply text-xl mb-4 mt-8 font-bold text-neutral-200;
    }

    .markedView h5 {
        @apply text-lg mb-4 mt-6 font-bold text-neutral-200;
    }

    .markedView h6 {
        @apply text-lg my-2 font-bold text-neutral-200;
    }

    .markedView code {
        @apply py-0.5 px-1 rounded-md border border-zinc-500 text-neutral-300 my-2 dark_bg;
    }

    hr {
        @apply my-6 h-[4px] w-full border-[1px] border-zinc-500 bg-zinc-500;
    }

    .markedView > :last-child {
        @apply mb-0 !important;
    }

    .markedView > :first-child {
        @apply mt-0 !important;
    }

    .markedView blockquote {
        @apply py-2 px-4 border-l-8 border-l-indigo-500 rounded bg-indigo-900 mb-4;
    }

    .markedView blockquote > :last-child {
        @apply mb-0 !important;
    }

    .markedView blockquote > :first-child {
        @apply mt-0 !important;
    }

    .brightest_bg {
        @apply bg-zinc-500
    }

    .bright_bg {
        @apply bg-zinc-600;
    }

    .medium_bg {
        @apply bg-zinc-700;
    }

    .dark_bg {
        @apply bg-zinc-800;
    }

    .darkest_bg {
        @apply bg-zinc-900;
    }

    .btn_bg_primary {
        @apply bg-indigo-600 hover:bg-indigo-700
        border-2 border-indigo-400
        text-neutral-200 hover:text-neutral-200
        m-1 py-2 px-4 rounded-md;
    }

    .btn_small_icon {
        @apply text-sm flex items-center py-2 pl-2 pr-3 rounded
        hover:darkest_bg hover:text-white
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    .prevent-select p,
    .prevent-select span {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }

    .vpopper {
        @apply p-2 rounded dark_bg opacity-100 text-neutral-300;
    }

    .logo {
        filter: brightness(0) invert(1);
    }
}
